@import "../../../utils/colores.css";

.lobby-container .list-group { 
    background: var(--amarillito);
    background-color: var(--amarillito);
}

.lobby-container .list-group .list-group-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: var(--amarillito);
    background-color: var(--amarillito);
    width: 100%;
    color: var(--violetaClaro);
    font-weight: bold;
    text-decoration-line: underline;
    border: none;
}
.list-header{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--violetaClaro);
}

.list-title {
    color: var(--violetaClaro); 
    font-size: 17px;
    margin-bottom: 10px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    margin-top: 1rem;
}

.dots {
    margin-top: 1rem;
    margin-left: 10px;
}

.emoji-owner {
    margin-left: 2px;   
}