
body, button, a {
    cursor: var(--default-cursor);
    font-family: "Baloo Paaji 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
  
button:hover, a:hover {
    cursor: var(--pointer-cursor);
}

* {
    box-sizing: border-box;
}