.Home{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    background-color: #330033;
    background-image: var(--principal-bg);
}

.Home .back-btn {
    position: sticky;
    top: 0px;
    /* right: 60px; */
    /* margin-left: 15px; */
    background-image: url('/assets/icons/back-arrow.svg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 35px;   
    border: none;
    background-color: var(--verde);
    color: white;
}

.Home .back-btn:hover {
    background-color: var(--verdeClaro);
}

.NombreUsuario{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0px;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.NombreUsuario .dataUser{
    margin-right: 140px;
    margin-left: 90px;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--amarillito);
    border: 1px solid black;
    border-radius: 10px;
}

.dataUser .user{
    width: 50%;
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
    text-align: left;
}

.dataUser .id_user{
    width: 50%;
    text-align: right;
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
}

.CrearPartida{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.CrearPartida button{
    width: 600px;
    height: 70px;
    background-color: var(--verde);
    border-color: none;
    border: none;
    font-weight: bold;
    color: white;
    font-size: 1.25rem;
}


.CrearPartida button:hover {
    background-color: var(--verdeClaro);
    color: white;
    outline: none;
    transform: none; 
}

.CrearPartida button:active {
    background-color: var(--verdeClaro);

    outline: none;
    transform: none; 
}

.CrearPartida button:focus {
    outline: none;
    transform: none;
}
.Home .Gaming-container  {
    width: 600px;
    display: flex;
    flex-direction: column;
    background: var(--amarillito);
    border-radius: 20px;
    padding: 10px;
    font-size: 1.1rem;
}

.form-check-input {
    margin: 20px 20px 0px 20px; 
}

.form-check-input:hover,
.form-check-label:hover {
    cursor: var(--pointer-cursor);
}

.GameList__Home{
    width: 100%;
    max-height: 50vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
    
}

.GameList__Home button{
    background-color: var(--violeta);
    border-color: var(--violeta);
    padding-right: 10px;
}

.GameList__Home button:hover {
    background-color: var(--violeta2);
    border: none;
}

.JoinForm__Home {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: var(--amarillito);
}
