.List__Items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.game{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: var(--amarillito);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.game .config__left{
    width: 100%;
    font-weight: 500;
}

.game .config__right{
    width: 30%;
    margin: 0px 10px 0px 10px;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    justify-content:space-between;
    align-items: center;
}

.config__right .range_players{
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    color:black;
    background-color: white;
}