/*ConfigGame */
.ConfigGame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ConfigGame h1{
    text-align: center;
    font-size: 20px;
}

.ConfigGame p{
    margin-top: 20px;
    font-size: 21px;
    margin-bottom: 10px;
}

/* Form */
.ConfigGame .form-container{
    margin-top: 20px;
    margin-bottom: 12px;
}    

.form-container .col-auto{
    margin-top: 10px;
    text-align: center;
}

.form-container .col-auto .form-text{
    font-size: 17px;
}

.ConfigGame .password {
    width: 100%;
}


.ConfigGame .password .form-container {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
}

.password .col-form-label-container {
    height: 0px;
}

form-check:checked {
    margin-bottom: 0px;
}

/* Count Players */
.count_players{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding-top: 5px;
}

.count_players button{
    margin: 0;
}

.count_players button.selected {
    background-color: var(--verdecito); 
    color: var(--marron4);
    font-weight: bold; 
}

.count_players p{
    text-align: center;
}

.participants{
    margin-top:20px
}