
.GameList{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.GameList .list-group .list-group-item{
    background-color: var(--amarillito);
    width: 100%;
    display: flex;
    justify-content: center;
    border: none;
}

.list-group{
    width: 100%;
    height: auto;
}