.List__Items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.game{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: var(--amarillito);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.game .config__left {
    width: 100%;
    gap: 10px;
    font-weight: 600;
    font-size: 1.2rem;
    margin-left: 10px;
}

.config__left .lock, .config__left .non-lock {
    display: flex;
    align-items: center;
    gap: 10px;
}

.config__left .lock .lock-icon, 
.config__left .non-lock .unlock-icon {
    width: 30px;
    height: 30px;
}

.game .config__left img {
    width: 20px;
    height: auto;
    transform: translateX(5px);
}


.lock .lock-icon{
    border-radius: 50%;
    background-color: #ff615d;
}

.non-lock .unlock-icon {
    background-color: #2cbe56;
    border-radius: 50%;
}

.game .config__right{
    gap: 10%;
    width: 30%;
    margin: 0px 10px 0px 10px;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    justify-content:space-between;
    align-items: center;
}

.config__right .range_players{
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    color:black;
    background-color: white;
}

.started-icon {
    width: 50px;
    margin-left: 5px;
    background-color: #242377;
    border-radius: 50%;
    padding: 5px
}