@import "../../../../utils/colores.css";

.game-container {
    background-color: var(--claro2);
    height: 100vh;
    width: 100vw; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
    position: relative;
}

/* Parte Izquierda */
.left-box{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.seePlayer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    height: auto;
}

.Game_Area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.Fig{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}

.board{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Mov{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}


/* Parte Derecha */
.right-box{
    width: 30%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.PlayerInfo-Area{
    margin-top: 10px;
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.Butt{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    gap:10px;
    margin-bottom: 10px;
    margin-right: 10px;
}


.Butt button{
    height: 60px;
    width: 150px;
    border: none;
    background-color: var(--marronBoard);
}

.Butt button:hover, .Butt button:disabled{
    background-color: var(--marron4);
    border: none;
}

/* Victoria */
.victory-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999; 
}