@import "../../../utils/colores.css";

.mov-cards-container {
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    height: auto;  
    width: auto; 
    background-color: var(--claro2);
}

.mov-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    gap: 10px;
}

.Figures {
    cursor: pointer; 
}

.Figures img {
    flex: 1; 
    width: 100px;
    height: auto;
}

/* Estilo para una carta seleccionada */
.Figures.selected {
    border: 1px solid black; 
    transform: scale(1.1);
    transition: transform 0.2s, border 0.1s; 
}
