.LabelMovParcial {
    position: absolute;
    writing-mode: vertical-lr;
    background-color: yellow;
    padding: 10px 10px 10px 3px;
    text-align: center;
    margin-top: 30px;
    border-radius: 0px 10px 10px 0px;
    z-index: 1;
    transform: translateX(-100%); 
    transition: transform 0.5s ease; 
}

.LabelMovParcial.visible {
    transform: translateX(0);
}

.LabelMovParcial.hiding {
    transform: translateX(-100%);
}
