

.each-player {
    padding-left: 5vh;
    padding-bottom: 3vh;
}

.player-name .Player{
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 2vh;
    width: 50%;
    padding: 5px;
    color: white;
}

.player-figs {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.player-figs img {
    width: 80px;
    height: auto;
}

.cant-mov-container {
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
}

.cant-mov-container .back-mov-image {
    width: 2.8rem;
    padding: 1px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid transparent; 
    /* display: inline-block; */
    cursor: default; 
    border: 1px solid black;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.2);
}


/* Rotaciones específicas para cada carta */
.back-mov-image:nth-child(1) {
    transform: rotate(-15deg) translateX(55px) translateY(10px);
    z-index: 1;
}

.back-mov-image:nth-child(2) {
    transform: rotate(0deg) translateX(35px) translateY(-8px);
    z-index: 2;
}

.back-mov-image:nth-child(3) {
    transform: rotate(10deg) translateX(10px) translateY(-5px);
    z-index: 1;
}
