.players-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-name .Player{
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 8px;
    border-radius: 2vh;
    width: 40%;
    font-size: 0.9rem;
    padding: 5px;
    color: white;
}

.player-figs {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.player-figs img {
    width: 75px;
    height: auto;
}


.player-figs img:hover {
    cursor: var(--pointer-cursor);
}

.player-figs .Figures.disabled img:hover, 
.player-figs .Figures.blocked img:hover {
    cursor: var(--default-cursor);
}

.players-container .DeckFig {
    background-color: white;
    width: 50px;
    height: 50px;

}

.players-container .DeckFig .Fig_Cant{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 10px;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid black;
    z-index: 1;
    font-weight: bold;
    font-size: larger;
}

.players-container .DeckFig img {
    position: absolute;
    width: 40px;
    height: auto;
    object-fit: cover;
    z-index: 0;
}



.cant-mov-container {
    height: 65px;
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: flex-end;
    transform: translateX(50px) translateY(-30px);

}

.cant-mov-container .back-mov-image {
    width: 2.7rem;
    padding: 1px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid transparent; 
    cursor: default; 
    border: 1px solid black;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.2);
}


/* Rotaciones específicas para cada carta */
.back-mov-image:nth-child(1) {
    transform: rotate(-15deg) translateX(55px) translateY(10px);
    z-index: 1;
}

.back-mov-image:nth-child(2) {
    transform: rotate(0deg) translateX(35px) translateY(-8px);
    z-index: 2;
}

.back-mov-image:nth-child(3) {
    transform: rotate(10deg) translateX(10px) translateY(-5px);
    z-index: 1;
}

.back-mov-image:hover {
    cursor: var(--default-cursor);
}
