
.lobby-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: var(--violeta); */
  background-color: #330033;
  background-image: var(--principal-bg);
  color: var(--amarillito);
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: 1000;  */
}
.lobby-container {
  background: var(--amarillito);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
  max-width: 570px;
  height: auto;
  width: 100%;
}
