.leav .btn-leave-game {
    background-color: var(--rojo);
    border: none;
    display: flex;
    justify-content: flex-end;
    color: rgb(240, 240, 240);
    font-weight: bold;
}

.leav .btn-leave-game:hover {
    background-color: rgb(255, 0, 0);
    transform: scale(1.07);
    border: 1px solid rgb(255, 255, 255);
}



