:root {
    --claro1: #e9bf98;
    --claro2: #d0c5ad;
    --marron1: #c57d2d;
    --marron2: #9c7a51;
    --marron3: #82460b;
    --marron4: #53422e;
    --amarillito: #ffc548;
    --violeta: #3d293f;
    --violeta2: #59225e;
    --violetaClaro: #784e7c;    
    --naranja: #FFAE0F;
    --verdecito: #BBFF54;
    --verdeClaro: rgba(195, 255, 98, 0.788);
    --boxCardsSelecc: rgb(166, 255, 107);
    --verde: #92c448;
    --celeste: #1491FF;
    --rojo: #f10030;
    --marronBoard: #3b1c1b;
}
