/* BUTTONS */
.btn-container {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 20px;
}
.btn-container button {
    width: 150px;
}
.btn-container button:last-child {
    background-color: rgba(70, 161, 70, 0.747);
    border: none;

}
.btn-container button:first-child {
    background-color: rgba(255, 0, 0, 0.747);
    border: none;
}
