.BoxCard {
    width: 50px; 
    height: 50px; 
    margin: 5px; 
    border-radius: 10px; 
    background-color: #fff;
    border: 1px solid #000;
    padding: 3px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    cursor: pointer;
    box-shadow: 
        0 3px 0px rgba(0, 0, 0, 0.3), 
        inset 0 -4px 0 rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s, box-shadow 0.2s, border 0.2s;
}

/* Estilo para la carta seleccionada */
.BoxCard.selected {
    border: 2px solid gold; 
    transform: scale(1.05);
    transition: all 0.3s ease;
    box-shadow: 0 0 15px 5px rgba(255, 215, 0, 0.8); 
}

/* Estilo para la carta resaltada */
.BoxCard.highlighted {
    border: 1px solid; 
    animation: pulse 1.4s infinite;
}

/* Animación de pulsación */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.08);
    }
    100% {
        transform: scale(1);
    }
}
